// Write (or import) your styles here
.btn-success {
    color: #fff;
    background-color: #60CF7D;
    border-color: #60CF7D;
  }

  .btn-warning:hover {
    color: #fff;
    background-color: #f3b20c;
    border-color: #e7aa0b;
  }
  .btn-warning:focus, .btn-warning.focus {
    box-shadow: 0 0 0 0.2rem rgba(214, 168, 47, 0.5);
  }
  .btn-warning.disabled, .btn-warning:disabled {
    color: #fff;
    background-color: #F5BE30;
    border-color: #F5BE30;
  }
  .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #e7aa0b;
    border-color: #dba10b;
  }

  @media (max-width: 991px) {
    .trx-detail th,
    .trx-detail td {
        display: table-cell;
      }
      .trx-detail tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
      }
      .trx-detail th:last-of-type,
    .trx-detail td:last-of-type,
    .trx-detail th:nth-of-type(2),
    .trx-detail td:nth-of-type(2) {
        display: table-cell;
      }
      .trx-detail td:last-of-type {
        padding-right: 0;
      }
      td:nth-of-type(2) {
        overflow: hidden;
      }



      /****/

      .inv-detail tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
      }
      .inv-detail th:last-of-type,
    .inv-detail td:last-of-type,
    .inv-detail th:nth-of-type(3),
    .inv-detail td:nth-of-type(3),
    .inv-detail th:nth-of-type(4),
    .inv-detail td:nth-of-type(4) {
        display: table-cell;
      }
      .inv-detail th:nth-of-type(2),
      .inv-detail td:nth-of-type(2) {
          display: none;
      }
    }
